
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="UTF-8">
<title>USER CRUD</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/userlistjs.js"></script>
<script src="js/adduserjs.js"></script>
<script src="js/edituserjs.js"></script>
<script src="js/display.js"></script>
<script src="js/deleteuserjs.js"></script>


</head>

<body>
	<div style="display: none" id="preloader">
		<div class="loader"></div>
	</div>
	<div align="center" id="list_user" class="list">
		<table border="2" align="center" width="70%" cellpadding="2">
			<h1>List of users</h1>
		</table>
		<h2 id="deleteStatus" style="color: red"></h2>

		<table align="center" class="table table-bordered"
			style="width: 300px">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Last Name</th>
				<th>email</th>
				<th>Edit/Delete</th>
			</tr>
			<tbody class="tbody"></tbody>

		</table>
		<br />
		<button value="add" onclick="addFunc()">New User</button>
	</div>


	<!--  Add / Edit form  -->
	<div id="form" class="newform" style="display: none" align="center">
		<br>
		<div id="addeditDIV">
			<h2 id=add style="color: green">ADD NEW USER</h2>
			<h2 id=edit style="color: green">EDIT USER</h2>
			<input type="hidden" value="insert" />
			<table align="center">

				<tr>
					<td colspan="2" style="color: red">
						<div id="error" class="error" type="hidden"></div>
					</td>
				</tr>
				<tr>
					<td coldspan="2" style="color: blue" type="hidden">
						<div id="info" class="success"></div>
					</td>
				</tr>
				<tr>
					<td><input type="hidden" name="userid" id="userid" /></td>
				</tr>
				<tr>
					<td>FirstName:</td>
					<td><input type="text" id="firstName"></td>
				</tr>
				<tr>
					<td>LastName:</td>
					<td><input type="text" id="lastName" /></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="text" id="email" /></td>
				</tr>
				<br>
				<br>
			</table>
			<table align="center">
				<tr>
					<td>
						<button type="button" id=add_btn value="Add" onclick="addUser()">Add
							User</button>
						<button type="button" id=edit_btn value="Update"
							onclick="editUser()">Update User</button>
					</td>
					<td><button type="reset" value="Cancel" onclick="reset()">
							Reset</button></td>
				</tr>
			</table>
		</div>
		<div id="info" style="color: green;"></div>
		<br />
		<button onclick="listDisplay()">List User</button>
	</div>
</body>
</html>